**/multiverse/boba_logs
**/multiverse/code
**/multiverse/results
**/multiverse/uncertainty.csv
./
.vscode/
__pycache__/
test/
*.py[cod]
visualizations/**
exploration/**
data/**
gumtree/**
*.svg
*.lprof
output
src/gumtree/tree-sitter-parser/tree-sitter-r-template
src/gumtree/tree-sitter-parser/tree-sitter-python-template
debugging_evaluation